body {
    margin: 0;
    margin-right: 20px;
    background-color: #171717;
    font-family: "Mona Sans", "Mona Sans Header Fallback", "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #ffffff;
  }

.section:hover {
  cursor: pointer;
}

  .animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  #latest-month:hover{
    cursor: pointer;
    animation: pulse;
  }


  .hidden-nav {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    background-color: transparent;
    transition: opacity 0.3s;
  }
  
  .hidden-nav:hover {
    opacity: 1;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    margin-right: 20px;
    padding: 10px;
    font-size: 1em;
    transition: border 0.3s;
    letter-spacing: 2px;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6vh;
  }

  .fade {
    opacity: 1;
  }
  
  #section-1 {
    height: 65vh;
    display: flex;
    flex-direction: column;
  }
  
  #section-2 {
    height: 80vh;
  }
  
  #section-3 {
    height: 175vh;
    display: flex;
    flex-direction: column;
  }
  
  #section-4 {
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  #section-5 {
    height: 10vh;
    width: 76vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 0vh;
  }

  .section-5-left {
    font-size: 2em;
    width: 38vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-5-right {
    width: 38vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .month-dropdown {
    appearance: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.month-dropdown::-ms-expand {
    display: none;
}

.month-dropdown:focus {
    box-shadow: 0  0 2px rgba(0, 123, 255, 0.25);
}

.month-dropdown option {
    background-color: white;
    color: #007bff;
    padding: 0.5em 1em;
    font-size: 1em;
}  


#section-2 .left {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#section-2 .right {
    width: 50vw;
    height: 100%;
}

#section-2 .left-div-top {
    height: 20%;
    width: 80%;
    margin-right: 20%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3px;
    padding-left: 4vw;
}

#section-2 .left-div-middle {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section-2 .left-div-middle-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7em;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 5px;
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    padding-bottom: 5vh;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  25%  { transform: translate(0, 10px); }
  50%  { transform: translate(0, 50px); }
  100%   { transform: translate(0, -0px); }   
}


#section-2 .left-div-middle-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 3%;
    font-size: 2.2em;
}

#section-2 .left-div-bottom {
    height: 30%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

#section-2 .right-div-top {
    height: 50%;
    display: flex;
    justify-content: left;
    padding: 2em;
}

#section-2 .roadcontainer {
    width: 80%;
    height: 20%;
    margin-top: 30%;
}

#section-2 #car {
    width: 20%;
    height: 100%;
    background-image: url("../car.png");
    background-size: cover;
    transition: transform 0.5s ease-out;
    transform: translateX(0vw);
}

#section-2 .bucket {
  width: 15%;
  height: 36%;
  margin-top: 23%;
  background-image: url("../money.png");
  background-size: contain;
}

#section-2 .right-true-top {
  height: 20%;
  width: 80%;
  font-size: 2.5em;
  display: flex;
  justify-content: left;
  padding-left: 9%;
  align-items: center;
}

#section-2 .right-true-middle {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}

#section-2 .right-true-bottom {
  height: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2em;
  padding-left: 9%;
}

#section-2 .right-div-bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
}

#section-2 .right-div-bottom-top {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

#section-2 .right-div-bottom-bottom {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputcontainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    text-align: center;
    background: transparent;
}

.inputcontainer input {
  font-size: 2em;
  text-align: center;
  color: white;
  background: transparent;
  border: 1px solid #ffffff;
}

input {
    height: 40%;
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 15%;
}


#section-1 .top {
    height: 17%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60vw;
    margin-top: 4%;
}

#section-1 .top-text {
    font-size: 2.5em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3px;
    margin-left: 10%;
  }

#section-1 .bottom {
  height: 83%;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section-1 .bottom-div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 .top2 {
    height: 10%;
}

#section-1 .middle {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  font-weight: 600;
  animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#section-1 .bottom-text {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  padding: 0 0.5em;
  font-weight: 500;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 40px); }
  100%   { transform: translate(0, -0px); }   
}

#section-3 .top {
    height: 8%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60vw;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    margin-left: 2%;
}

#section-3 .top-text {
    font-size: 2.5em;
  }

  #section-3 .middle {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair-label {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  display: flex;
  justify-content: left;
}

.input-row {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 12 - 1em);
}

.input-field {
  width: 70%;
  height: 2em;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.2em;
  font-size: 1em;
}

.month-label {
  font-size: 0.8em;
  margin-top: 0.2em;
}

  #section-3 .bottom {
    height: 89%;
    margin-top: 1%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #section-3 .bottom-div {
    width: 45vw;
    height: 70vh;
    display: flex;
    align-items: center;
    border: 1px solid white;
  }

  #section-4 .top {
    height: 17%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50vw;
}

#section-4 .top-text {
    font-size: 2.5em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3px;
  }

#section-4 .bottom {
  height: 83%;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#section-4 .bottom-div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-4 .top2 {
    height: 10%;
}

#section-4 .middle {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 600;
  animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#section-4 .bottom-text {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  padding: 0 0.5em;
  letter-spacing: 2px;
  
}